<template>
  <div class="container">
    <h2 class="mb50">Posts</h2>
    <el-tooltip effect="dark" content="Create new post">
      <el-button
        @click="openDialog(null)"
        type="primary"
        icon="el-icon-plus"
        circle
        class="mb50"
      ></el-button>
    </el-tooltip>
    <el-card v-for="(post, i) in posts" :key="i" class="box-card mb50">
      <div slot="header" class="clearfix">
        <strong>{{ post.title }}</strong>
        <el-button
          type="primary"
          size="small"
          class="ml5"
          @click="openDialog(post)"
        >
          Edit
        </el-button>
      </div>
      <div class="text item">
        {{ post.body }}
      </div>
    </el-card>
    <el-dialog :title="dialogTitle" :visible.sync="dialogFormVisible">
      <el-form :model="post">
        <el-form-item label="Post title">
          <el-input v-model="post.title" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="Post body">
          <el-input
            v-model="post.body"
            autocomplete="off"
            type="textarea"
            :rows="5"
          ></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">Cancel</el-button>
        <el-button type="primary" @click="handleSave()">Save</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
const EMPTY_POST = {
  id: null,
  userId: null,
  title: '',
  body: '',
}

export default {
  data() {
    return {
      posts: [],
      post: EMPTY_POST,
      dialogFormVisible: false,
      dialogTitle: 'Create',
    }
  },

  methods: {
    openDialog(post) {
      if (post) {
        this.post = post
        this.dialogTitle = 'Edit'
      } else {
        this.post = EMPTY_POST
        this.dialogTitle = 'Create'
      }
      this.dialogFormVisible = true
    },
    handleSave() {
      if (this.dialogTitle === 'Edit') {
        this.handleEdit()
      } else if (this.dialogTitle === 'Create') {
        this.handleCreate()
      }
    },
    handleEdit() {
      fetch('https://jsonplaceholder.typicode.com/posts/' + this.post.id, {
        method: 'PUT',
        body: JSON.stringify({
          title: this.post.title,
          userId: this.post.userId,
          body: this.post.body,
        }),
        headers: {
          'Content-type': 'application/json; charset=UTF-8',
        },
      })
        .then((response) => response.json())
        .then((json) => {
          console.log(json)
          this.getData()
          this.dialogFormVisible = false
          this.post = EMPTY_POST
          this.dialogTitle = 'Create'
        })
    },
    handleCreate() {
      fetch('https://jsonplaceholder.typicode.com/posts/', {
        method: 'POST',
        body: JSON.stringify({
          title: this.post.title,
          userId: this.post.userId,
          body: this.post.body,
        }),
        headers: {
          'Content-type': 'application/json; charset=UTF-8',
        },
      })
        .then((response) => response.json())
        .then((json) => {
          console.log(json)
          this.getData()
          this.dialogFormVisible = false
          this.post = EMPTY_POST
          this.dialogTitle = 'Create'
        })
    },
    handleDelete(id) {
      fetch('https://jsonplaceholder.typicode.com/posts/' + id, {
        method: 'DELETE',
      })
        .then((response) => response.json())
        .then((json) => {
          console.log(json)
        })
    },
    getData() {
      fetch('https://jsonplaceholder.typicode.com/posts/')
        .then((response) => response.json())
        .then((json) => {
          this.posts = json
        })
    },
  },
  created() {
    this.getData()
  },
}
</script>

<style scoped>
.ml5 {
  margin-left: 5px;
}
.mb50 {
  margin-bottom: 50px;
}
</style>
