<template>
  <div>
    <div style="text-align: left">
      <p>Title</p>
      <el-input v-model="todo.title"></el-input>
      <p>User ID</p>
      <el-input v-model="todo.userId"></el-input>
      <p>Completed</p>
      <el-switch
        v-model="todo.completed"
        active-color="#13ce66"
        inactive-color="#ff4949"
      >
      </el-switch>
      <br />
      <br />
      <el-button type="primary" @click="createTodo()">Save</el-button>
    </div>
    <hr />n
    <el-table :data="tableData" style="width: 100%">
      <el-table-column label="ID" prop="id"></el-table-column>
      <!-- <el-table-column label="User ID" prop="userId"></el-table-column> -->
      <el-table-column label="Title" prop="title">
        <template slot-scope="scope">
          <el-input v-model="scope.row.title"></el-input>
        </template>
      </el-table-column>
      <el-table-column label="Completed" prop="completed">
        <template slot-scope="scope">
          <!-- <el-tag v-if="scope.row.completed" type="success">True</el-tag>
          <el-tag v-else type="danger">False</el-tag> -->
          <el-switch
            v-model="scope.row.completed"
            active-color="#13ce66"
            inactive-color="#ff4949"
          >
          </el-switch>
        </template>
      </el-table-column>
      <el-table-column label="Operations">
        <template slot-scope="scope">
          <el-button size="mini" @click="updateTodo(scope.row)">Edit</el-button>
          <el-popconfirm
            title="Are you sure to delete this?"
            @confirm="deleteTodo(scope.row.id)"
          >
            <el-button size="mini" type="danger" slot="reference" class="ml5"
              >Delete</el-button
            >
          </el-popconfirm>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      tableData: [],
      todo: {
        title: '',
        userId: null,
        completed: false,
      },
    }
  },
  methods: {
    createTodo() {
      fetch('https://jsonplaceholder.typicode.com/todos/', {
        method: 'POST',
        body: JSON.stringify({
          title: this.todo.title,
          userId: this.todo.userId,
          completed: this.todo.completed,
        }),
        headers: {
          'Content-type': 'application/json; charset=UTF-8',
        },
      })
        .then((response) => response.json())
        .then((json) => {
          console.log(json)
          this.readTodos()
        })
    },
    updateTodo(row) {
      fetch('https://jsonplaceholder.typicode.com/todos/' + row.id, {
        method: 'PUT',
        body: JSON.stringify({
          title: row.title,
          userId: row.userId,
          completed: row.completed,
        }),
        headers: {
          'Content-type': 'application/json; charset=UTF-8',
        },
      })
        .then((response) => response.json())
        .then((json) => {
          console.log(json)
          this.readTodos()
        })
    },
    deleteTodo(id) {
      fetch('https://jsonplaceholder.typicode.com/todos/' + id, {
        method: 'DELETE',
      })
        .then((response) => response.json())
        .then((json) => {
          console.log(json)
        })
    },
    readTodos() {
      fetch('https://jsonplaceholder.typicode.com/todos/')
        .then((response) => response.json())
        .then((json) => {
          this.tableData = json
        })
    },
  },
  created() {
    this.readTodos()
  },
}
</script>

<style scoped>
.ml5 {
  margin-left: 5px;
}
</style>
